body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: slategray;
}

.container {
	width: 95vw;
	height: calc(95vw * 847 / 770);
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	background-repeat: no-repeat;
	background-image: url("board.png");
	background-size: contain;
}

.board-row {
	display: flex;
	justify-content: center;
}

.tile {
	width: 10%;
	height: auto;
}

@media screen and (min-aspect-ratio: 1/1) {
	.container {
		width: calc(95vh * 770 / 847);
		height: 95vh;
	}
}